.button {
  background-color: #1fb141;
  border: none;
  padding: 0.75rem 1rem;
  color: white;
  cursor: pointer;
  font-weight: 600;
  text-align: center;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
