.listingCard {
  display: flex;
  border-radius: 1rem;
  border: 1px solid #d3d3d3;
  border-left: none;

  .image {
    height: 23rem;
    flex: 1;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      filter: blur(10px);
      background-color: #ebeaea;
    }

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  .details {
    flex: 1;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .priceDetails {
      .startsFrom {
        color: #b2aeae;
        font-weight: 700;
      }

      .price {
        color: #1fb141;
        font-size: 1.25rem;
        font-weight: 900;
      }
    }

    .description {
      color: #a6a3a3;
    }

    .sizeDetails {
      display: flex;
      gap: 2rem;
      padding: 0 1rem;
      font-weight: 600;
      color: #8a8989;

      .size {
        border-right: 1px solid #d3d3d3;
        padding-right: 1rem;

        &:last-child {
          border-right: none;
        }
      }
    }

    .seeDetails {
      .seeDetailsButton {
        letter-spacing: 2px;
        padding: 0.5rem 0.75rem;
        border: 1px solid #d3d3d3;
        outline: none;
        background-color: white;
        color: #a6a3a3;
        font-weight: 600;
        font-size: 1.125rem;
        cursor: pointer;
      }
    }
  }
}
